.header-container{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
    position: sticky;
    top: 0;
}
.header-container img{
    width: 70px;
}
.header-title a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}
.header-title a:hover{
    color: rgb(78, 104, 114);
}